* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font: 16px/28px;
    width: 1270px;
    background-image: url(reportback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    color: rgb(19, 17, 17);
}
h1 {
    display: inline-flex;
    margin: 0 auto;
    height: 60px;
    width: 1270px;
    padding: 0px 510px;
    border-top: 2px solid #5c72a0;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    text-align: center;
}
a {
    text-decoration: none;
}
p {
    
    border-collapse: collapse;
    text-indent: 2em;
}
img {
    width: 800px;
    margin: 0 auto;
}
.gray {
    color: #888;
    font-size: 12px;
    text-align: center;
}
.search {
    color: #5c72a0;

    width: 170px;  
}
.btn {
    font-weight: 700;
    color: #5c72a0;
    background-color: #93c8fa;
    border-color: #5c72a0;
}
.box02 {
    margin: 0 auto;
    float: left;
    width: 1070px;
    font-size: 16px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.video {
    width: 812px;
    height: 410px;
    background-repeat: no-repeat;
    border: 2px solid #5c72a0;
    background-color: rgba(255, 255, 255,.3);
    background-position: center top;
    background-size: 100% 100%;
    }
li {
    list-style-type: none;
}
.box03 {
    margin: 0 auto;
    float: left;
    width: 1070px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}
.hope {
    float: left;
    width: 200px;
    margin-left: 30px;
}

.back {
    background-color: #93c8fa;
    border-color: #5c72a0;
    color: #5c72a0;
    width: 180px;
    font-weight: 700;
}
